*{
    transition: 350ms;
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(50, 50, 50);
    margin: 0;
}

#whoAmITitelText{
    text-align: center;

    font-size: 200%;
    color: whitesmoke;
}

.whoAmIContent{
    display: grid;
}

.personalInformation{
    grid-row: 1;
    grid-column : 1;
}

.personalTitle{
    font-size: 130%;

    border-bottom: 0.2vh solid darkslategray;
}

.personalText{
    border-top: 0.2vh solid darkslategray;
}

.educationInformation{
    grid-row: 1;
    grid-column: 2;
}


.educationTitle{
    font-size: 130%;

    border-bottom: 0.2vh solid darkslategray;
}

.educationText{
    border-top: 0.2vh solid darkslategray;
}

.gearInformation{
    grid-row: 1;
    grid-column: 3;
}

.gearTitle{
    font-size: 130%;

    border-bottom: 0.2vh solid darkslategray;
}

.gearText{
    border-top: 0.2vh solid darkslategray;
}

.informationBox{
    font-size: 130%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: wheat;
    border: 0.4vh solid darkslategray;
    border-radius: 1vw;

    text-align: center;
    color: darkslategrey;

    width: 27vw;
    height: 33vh;

    margin-bottom: 1vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

.gearInformation:hover{
    transform: scale(1.2);
}

.educationInformation:hover{
    transform: scale(1.2);
}

.personalInformation:hover{
    transform: scale(1.2); 
}