*{
    margin: 0;
    padding: 0;
}

.pictureOfMe:img{
    overflow: hidden;
}

.pictureOfMe{
    border-bottom: 3px solid blueviolet;
}

#whoAmITitelText{
    text-align: center;
    font-size: 200%;
}

