body{
    margin: 0;
    background-color: rgb(50, 50, 50);
}

#gearPageTitleText{
    text-align: center;
    color: whitesmoke;

    font-size: 200%;
}

.techGearInformation{
    display: grid;
}

.techGearTitle{
    text-align: center;
    font-size: 130%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

#laptopTitle{
    text-align: center;
    color: whitesmoke;
}

.laptop{
    display: grid;
    grid-row: 1;
    grid-column: 1;
}

.laptopPicture{
    grid-row: 1;
    grid-column: 1;
}

.laptopInformation{
    margin-left: 1vh;

    grid-row: 1;
    grid-column: 2;
}

.phone{
    display: grid;

    grid-row: 1;
    grid-column: 2;
}

.phonePicture{
    grid-row: 1;
    grid-column: 1;
}

.phoneInformation{
    grid-row: 1;
    grid-column: 2;
}

.PhotographyGear{
    margin-top: 5vh;
    display: grid;
}

.PhotographyGearTitle{
    color: whitesmoke;
    text-align: center;

    font-size: 130%;
}

.MainCamera{
    display: grid;
    grid-row: 1;
    grid-column: 1;
}

.MainCamerapicture{
    grid-row: 1;
    grid-column: 1;
}

.MainCameraInformation{
    grid-row: 1;
    grid-column: 2;
    margin-left: 0.3vh;
}

.MainLens{
    grid-row: 1;
    grid-column: 2;
    display: grid;
}

.MainLensPicture{
    grid-row: 1;
    grid-column: 1;
}

.MainLensInformation{
    grid-row: 1;
    grid-column: 2;
}

.gearBoxesLeft{
    margin-left: 28vw;

    width: 20vw;
    height: 10vh;

    color: whitesmoke;

    border: 0.1vh solid rgb(100, 100, 100);
    border-radius: 1vh;

    background-color: rgb(25, 25, 25);
}

.gearBoxesRight{
    margin-right: 28vw;

    width: 20vw;
    height: 10vh;

    color: whitesmoke;

    border: 0.1vh solid rgb(100, 100, 100);
    border-radius: 1vh;

    background-color: rgb(25, 25, 25);
}