body{
    background-color: rgb(50, 50, 50);
}

.pageTitle{

    margin-top: 5.5vh;

    font-size: 200%;
    color: whitesmoke;
    text-align: center;
}

.schools{
    display: grid;
}

.middleSchool{
    display: grid;
    grid-row: 1;
    grid-column: 1;
}

.middleSchoolTitle{
    font-size: 150%;
    text-align: center;
    color: darkslategray;
}

.middleSchoolInformation{
    color: darkslategray;
    text-align: center;
}

.highSchool{
    display: grid;
    grid-row: 1;
    grid-column: 2;
}

.schoolBlock{
    background-color: wheat;

    border: 0.2vh solid darkslategray;
    border-radius: 1vh;

    width: 48vw;
    height: 50vh;

    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;

}