body{
    margin: 0;
    margin-top: 5.5vh;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.Navbar{
    position: fixed;
    top: 0;

    color: whitesmoke;

    margin-top: 0;
    margin-left: 0;
    margin-bottom: 1vh;

    background-color: rgb(75, 75, 75);

    width: 100vw;
    height: 5.5vh;

    display: grid;
}

.NavbarLogo{
    grid-row: 1;
    grid-column: 1;
    text-align: center;

    color: black;
}
.NavbarLinks{
    margin-top: 2vh;
    margin-left: 3vh;

    grid-row: 1;
    grid-column: 2;

    text-align: center;
    word-spacing: 1vh;
}
.NavbarSocials{
    margin-top: 2vh;
    margin-left: 1vw;
    padding-right: 2vh;
    margin-top: 0.5vh;

    word-spacing: 1vh;

    grid-row: 1;
    grid-column: 3;
    text-align: right;
}